/node_modules
/public/hot
/public/cv
/public/docs
/public/complains
public/tabang-logo/vector
/public/pic1x1
/public/picfull/
/public/report_docs
/public/storage
/public/tabang-logo/vector/*.png
/storage/*.key
public/agency_logos/
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
