/node_modules
/public/hot
/public/cv
/public/docs
/public/complains
/public/report_docs
/public/storage
/public/tabang-logo/vector/*.png
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
